RewriteEngine On
RewriteBase /Parc-National-AAA-/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Parc-National-AAA-/index.html [L]
